.wrapper {
    width: 700px;
    height: 700px;
    position: absolute;
    overflow: hidden;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
  }
  .blazer {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #384148;      
    border-radius: 40px 40px 20px 20px;
    bottom: -20%;
    left: 28%;
    z-index: 1;
  }
  .arm-left {
    position: absolute;
    height: 300px;
    width: 100px;
    background-color: #384148;
    border-radius: 40%;
    bottom: 23%;
    left: -7%;
    z-index: 1;
  }
  .arm-element-left {
    position: relative;
    width: 3px;
    height: 245px;
    background-color: #232e34;
    bottom: -1%;
    left: 49%;
    transform: rotate(-8deg);
  }
  .arm-right {
    position: absolute;
    height: 300px;
    width: 100px;
    background-color: #384148;
    border-radius: 40%;
    bottom: 23%;
    left: 74%;
    z-index: 1;
  }
  .arm-element-right {
    position: relative;
    width: 3px;
    height: 250px;
    background-color: #232e34;
    bottom: 1%;
    left: 50%;
    transform: rotate(2deg);
  }
  .element1 {
    position: relative;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-bottom: 90px solid #232e34;
    border-right: 20px solid transparent;
    bottom: 8%;
    left: 65%;
    transform: rotate(-38deg);
    z-index: 3;
  }
  .element2 {
    position: relative;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-top: 25px solid #232e34;
    border-right: 90px solid transparent;
    bottom: 21%;
    left: 15%;
    transform: rotate(-35deg);
    z-index: 3;
  }
  .element3 {
    position: relative;
    width: 0px;
    height: 0px;
    border-left: 190px solid transparent;
    border-bottom: 80px solid #232e34;
    border-right: 70px solid transparent;
    bottom: 4.8%;
    left: -21%;
    transform: rotate(-90deg);
    z-index: 3;
  }
  .element4 {
    position: relative;
    width: 0px;
    height: 0px;
    border-left: 180px solid transparent;
    border-top: 70px solid #232e34;
    border-right: 80px solid transparent;
    bottom: 22%;
    left: 34%;
    transform: rotate(-90deg);
    z-index: 3;
  }
.shirt {
    position: absolute;
    width: 90px;
    height: 400px;
    background-color: #e0eefe;      
    border-radius: 30px 30px 0px 0px;
    bottom: 5%;
    left: 36%;
    z-index: 2;
}
.collar-left {
    position: relative;
    width: 0px;
    height: 0px;
    border-left: 0px solid transparent;
    border-top: 70px solid #d3e1f1;
    border-right: 50px solid transparent;
    border-top-left-radius: 20%;
    bottom: -3%;
    left: -10%;
    transform: rotate(14deg);
    z-index: 4;
}
.collar-right {
    position: relative;
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-top: 70px solid #d3e1f1;
    border-right: 0px solid transparent;
    border-top-right-radius: 30%; 
    bottom: 15%;
    left: 54%;
    transform: rotate(-19deg);
    z-index: 4;
}
.tie-element {
    position: absolute;
    bottom: 83%;
    left: 12%;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 50px solid #2e2d29;
    border-radius: 50%;
    z-index: 3;
}
.tie {
    position: absolute;
    height: 325px;
    width: 60px;
    background-color: #2e2d29;  
    border-radius: 40%;  
    bottom: 8%;
    left: 17%;
    z-index: 3;
}
.head {
    position: relative;
    width: 140px;
    height: 190px;
    background-color: #fedfb2;
    left: 49.5%;
    top: 34%;
    z-index: 3;
    border-radius: 100% /45% 45% 120% 120%;
    transform: translate(-50%, 0);
}
.neck {
    position: relative;
    width: 0;
    height: 0;
    border-left: 39px solid transparent;
    border-right: 39px solid transparent;
    border-top: 50px solid #fedfb2;
    border-radius: 45%;
    left: 23.5%;
    top: 79%;
    transform: rotate(180deg);
    z-index: 3;
}
.hair1 {
  position: relative;
  width: 18px;
  height: 85px;
  background-color: #000000;
  border-radius: 40%;
  bottom: 19%;
  left: 0%;
  transform: rotate(5deg);
  z-index: 1;
}
.hair2 {
  position: relative;
  width: 18px;
  height: 90px;
  background-color: #000000;
  border-radius: 40%;
  bottom: 63%;
  left: 87%;
  z-index: 1;
}
.hair3 {
  position: relative;
  width: 100px;
  height: 30px;
  background-color: #000000;
  border-radius: 40%;
  bottom: 120%;
  left: 15%;
  z-index: 1;
}
.hair4 {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #000000;
  border-radius: 50%;
  bottom: 133%;
  left: 5%;
  transform: rotate(-20deg);
  z-index: 1;
}
.hair5 {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #000000;
  border-radius: 50%;
  bottom: 142%;
  left: 70%;
  transform: rotate(30deg);
  z-index: 1;
}
.hair6 {
  position: relative;
  width: 50px;
  height: 40px;
  background-color: #000000;
  border-radius: 50%;
  bottom: 155%;
  left: 35%;
  z-index: 1;
}
.hair7 {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #000000;
  border-radius: 50%;
  bottom: 171.9%;
  left: 24%;
  transform: rotate(22deg);
  z-index: 1;
}
.hair8 {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #000000;
  border-radius: 50%;
  bottom: 188.1%;
  left: 40%;
  transform: rotate(-26deg);
  z-index: 1;
}
.hair-element1 {
  position: relative;
  width: 21px;
  height: 16px;
  background-color: #fedfb2;
  border-radius: 40%;
  bottom: 198%;
  left: 13.5%;
  transform: rotate(35deg);
  z-index: 1;
}
.hair-element2 {
  position: relative;
  width: 20px;
  height: 16px;
  background-color: #fedfb2;
  border-radius: 40%;
  bottom: 204.9%;
  left: 74.5%;
  transform: rotate(-60deg);
  z-index: 1;
}
.eyebrow-left {
  width: 35px;
  height: 8px;
  position: absolute;
  background-color: #463118;
  border-radius: 50px 70px 5px 5px;
  top: 38%;
  left: 21%;
  z-index: 3;
}
.eyebrow-left-part {
  position: absolute;
  border-right: 23px solid #463118;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  top: 39%;
  left: 12%;
  transform: rotate(-10deg);
  z-index: 3;
}
.eyebrow-right {
  width: 35px;
  height: 8px;
  position: absolute;
  background-color: #463118;
  border-radius: 70px 70px 5px 5px;
  top: 38%;
  left: 56%;
  z-index: 3;
}
.eyebrow-right-part {
  position: absolute;
  border-left: 23px solid #463118;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  top: 39%;
  left: 74%;
  transform: rotate(12deg);
  z-index: 3;
}
.mustache {
  position: relative;
  border-bottom: 25px solid #000000;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	height: 0;
	width: 0;
  bottom: 160%;
  left: 22%;
  z-index: 4;
}
.nose {
  position: absolute;
  width: 15px;
  height: 9px;
  top: 63%;
  left: 44%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 2px solid rgba(84, 70, 70, 0.138);
  background-color: #fedfb2;
  border-bottom: 0;
  transform: rotate(180deg);
  z-index: 5;
}
.bottom-lip {
    width: 70px;
    height: 60px;
    position: absolute;
    top: 52%;
    left: 27%;
    z-index: 4;
    background: #f6a8b15d;
    clip-path: polygon(
    10% 79%,
    25% 90%,
    40% 95%,
    60% 95%,
    70% 92%,
    90% 79%,
    30% 85%,
    85% 85%
  );
  z-index: 3;
}